.keyboard {
  padding: 10px;
  display: flex;
}

.keyboard-main,
.keyboard-numPad {
  margin: 10px;
}

.key-row {
  display: flex;
  width: 780px;
  justify-content: center;
  align-items: center;
}

.numpad-row {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px #BDBDBD;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(216,216,216,0.65) 100%);
  box-shadow: #5F5E5E 1px 1px 1px;
  float: left;
  min-width: 40px;
  min-height: 40px;
  margin: 4px;
  padding: 2px;
}

.key-fillRow {
  flex: 1;
}

.modkey-label {
  font-size: .75em;
}

.home-key {
  box-shadow: inset 0px 0px 23px 0px #6F8BB8;
  border-color: #000;
}

.left-index,
.left-ring {
    background-color: #D2DDFF;
}

.left-middle,
.left-pinky {
    background-color: #E2E2E2;
}

.right-index,
.right-ring {
    background-color: #E2E2E2;
}

.right-middle,
.right-pinky {
    background-color: #D2DDFF;
}
