.keyboard {
  padding: 10px;
}

.key-row {
  display: flex;
  width: 725px;
  justify-content: center;
  align-items: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  border-radius: 5px;
  float: left;
  min-width: 40px;
  min-height: 40px;
  margin: 2px;
  padding: 2px;
}

.key-label2 {
  margin-right: 20px;
}

.key.fill-row {
  flex: 1;
}

.home-key {
  box-shadow: inset 0px 0px 6px 2px #AA8739;
}

.left-index {
    background-color: #405390;
}

.left-middle {
    background-color: #5368AF;
}

.left-ring {
    background-color: #405390;
}

.left-pinky {
    background-color: #5368AF;
}

.right-index {
    background-color: #49AA27;
}

.right-middle {
    background-color: #49AA27;
}

.right-ring {
    background-color: #49AA27;
}

.right-pinky {
    background-color: #49AA27;
}
