{
    "env": { "es6": true },
    "plugins": ["react"],
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "jsx": true
    },
    "globals": {
        "require": false,
        "module": false,
        "__dirname": false,
        "Promise": true
    },
    "rules": {
        "strict": 0,
        "curly": 0,
        "new-cap": 0,
        "no-underscore-dangle": 0,
        "quotes": 0,
        "no-shadow": 0,
        "consistent-return": 0,
        "no-use-before-define": [2, "nofunc"],
        "react/jsx-uses-vars": 2,
        "react/jsx-uses-react": 2,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 2
    }
}
