body {
    background-color: #7B7B7B;
}

p {
    text-indent: 1em;
}

button {
    min-width: 70px;
    min-height: 30px;
    margin: 5px;
    padding: 4px 10px;
}

#content-holder {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.lesson-space {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
    display: flex;
    flex-direction: row;
}

.login-space {
    flex: 1;
}

.sheet-container {
    flex: 1;
}

.lesson-sheet, .work-sheet {
    background-color: #FFF;
    margin: 6px;
}
