body {
    background-color: #7B7B7B;
}

#content-holder {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.lesson-space {
    flex: 1;
    display: flex;
    min-height: 100%;
    flex-direction: row;
}

.login-space {
    flex: 1;
}

.sheet-container {
    flex: 1;
}

.sheet {
    background-color: #FFF;
    margin: 6px;
}
