body {
    background-color: #7B7B7B;
}

#content-holder {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.body.horizontalMode {

}

.sheet-container.left {
    width: 50%;
    height: 100%;
    float: left;
}

.sheet-container.right {
    width: 50%;
    height: 100%;
    float: right;
}

.sheet-container.top {
    height: 50%;
}

.sheet-container.bottom {
    height: 50%;
}

.sheet {
    background-color: #FFF;
    margin: 6px;
}

.right > .sheet {
    margin-left: 3px;
}

.left > .sheet {
    margin-right: 3px;
}
