
table {
    color: #333333;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px #999999;
    margin: 10px;
}

table > caption {
    border: solid 1px #999999;
    border-bottom: none;
    padding: 5px;
}

th {
    background-color:#c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

tr {
    background-color:#d4e3e5;
}

tfoot > tr {
    background-color: transparent;
}

td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

.lesson-grade {
    display: flex;
    padding: 20px 20px 0 20px;
    flex-direction: row;
}
