.spinner > div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.spinner-loading{
  box-sizing: border-box;
  position: relative;
  padding: 5px;
  background-color: transparent;
  border: 5px solid transparent;
  border-top-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-radius: 50%;
}

.spinner-outer{
  animation: spin 1s infinite;
}

.spinner-inner{
  animation: spin 1s infinite;
}

@keyframes spin{
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

