.lesson-sheet,
.work-sheet {
    padding-bottom: 1em;
}

.lesson-title {
    font-size: 2em;
    padding-top: 1em;
}

.work-title {
    font-size: 1.5em;
    line-height: 2em;
    padding-top: 1em;
}

.lesson-section,
.worksheet-section {
    text-align: left;
}

.section-title {
    margin-left: 1em;
    margin-bottom: 0;
    font-weight: bold;
    text-decoration: underline;
}

.section-instructions {
    font-style: italic;
    text-align: justify;
    margin: 0 2em 1em 2em;
}

.worksheet-section > .section-instructions {
    color: #DFDFDF;
}

.section-work {
    font-family: courier;
    margin: 0 2em 3em 2em;
    padding: 2px;
}

.worksheet-section > .section-work {
    border: 1px solid #000;
}

