.lesson-sheet,
.work-sheet {
    padding-bottom: 1em;
}

.lesson-title,
.work-title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    padding-top: 1em;
}

.lesson-section,
.worksheet-section {
    text-align: left;
    margin: 3px;
    padding: 8px 0;
}

.active-section {
    border: 2px dashed #D07575
}

.section-header {
    display: flex;
}

.section-title {
    margin-left: 1em;
    margin-bottom: 0;
    font-weight: bold;
    text-decoration: underline;
}

.section-timer {
    margin-left: 10px;
    color: #919191;
}

.section-timer svg {
    width: 15px;
    height: 15px;
}

.section-instructions {
    font-style: italic;
    text-align: justify;
    margin: 0 2em 1em 2em;
}

.worksheet-section > .section-instructions {
    color: #DFDFDF;
}

.section-work {
    font-family: courier;
    margin: 0 1em 2em 1em;
    padding: 2px;
    letter-spacing: 2px;
    border: 1px solid #FFF;
    outline-color: #FFF;
    white-space: pre-wrap;
}

.section-work > .highlight {
    border: 2px solid #F00;
}

/*.worksheet-section > .section-work{
    border-color: #000;
}
*/
